#navbar {
    display: flex;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    width: 80dvw;
    border-radius: 20px;
    background-color: #e9b36c;
}

#navbar button {
    border-radius: 40px;
    height: 40px;
    width: 40px;
    font-size: 10px;
    word-break: break-word; 
    text-align: center;
}

#navbar input {
    height: 30px;
    font-size: large;
}

#navbar img {
    height: 100%;
    object-fit: contain;
}

#sortSection {
    width: 20%;
    display: flex;
    justify-content: space-around;
}