#root {
    margin: 0 auto;
    color: black;
}

#mainContainer {
    background-image: url('./seafood.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.137);
    background-blend-mode: overlay;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

